<div class="row">

    <div class="col-md-2 col-md-offset-1 hidden-xs text-right">
      <i class="fa fa-code-fork" style="font-size:150px"></i>
    </div>
    <div class="col-md-6 text-justify">
      {% capture text %}
I really enjoy **free software** and I do my best to contribute to projects I am interested in, such as *Django*, *Yii* and *Symfony* among others.

I also try to free everything I do on **[GitHub](//{{ site.author.github }})**:
      {% endcapture %}
      {{ text | markdownify }}
    </div>

  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="github-card" data-github="jorgebg" data-width="275" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  </div>

      <div class="col-md-6 col-md-offset-3 text-justify">
        {% capture text %}
<i class="fa fa-graduation-cap"></i>&nbsp; **[Dublin Django User Group](//www.meetup.com/django-dublin/)** organizer:
        {% endcapture %}
        {{ text | markdownify }}
      </div>
  </div>

</div>
