<div class="row">

    <div class="col-md-2 col-md-offset-1 hidden-xs text-right">
      <i class="fa fa-code-fork" style="font-size:150px"></i>
    </div>
    <div class="col-md-6 text-justify">
      {% capture text %}
I really enjoy **free software** and I do my best to contribute to projects I am interested in, such as *Yii*, *Symfony* and *Django* among others.

I also try to *open-source* everything I do on **[GitHub](//{{ site.author.github }})**:
      {% endcapture %}
      {{ text | markdownify }}
    </div>

  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="github-card" data-github="jorgebg" data-width="275" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  </div>

      <div class="col-md-6 col-md-offset-3 text-justify">
        {% capture text %}
<i class="fa fa-graduation-cap"></i>&nbsp; Learning by teaching at **[StackOverflow](//{{ site.author.stackoverflow }})**:
        {% endcapture %}
        {{ text | markdownify }}
      </div>

    <div class="col-md-6 col-md-offset-3 text-center">
    <a href="http://stackexchange.com/users/929724">
      <img src="http://stackexchange.com/users/flair/929724.png" width="208" height="58" alt="profile for Jorge Barata on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Jorge Barata on Stack Exchange, a network of free, community-driven Q&amp;A sites">
    </a>
  </div>

</div>
