<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><i class="fa fa-heart"></i> &nbsp;
      <strong>Software Engineering</strong> and
      <strong>Data Science</strong>
    </p>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <p><i class="fa fa-cogs"></i> &nbsp;
      <strong>Django</strong> <strong>React</strong> ElasticSearch Scipy Spark
    </p>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <p><i class="fa fa-university"></i> &nbsp;
      <strong>BSc.</strong> in
      <strong>Computer Science</strong> and
      <strong>Engineering</strong>, <strong>MSc.</strong> in <strong>Distributed Systems</strong>
    </p>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <p><i class="fa fa-suitcase"></i> &nbsp;
      Developing applications since 2009
    </p>
  </div>
  <div class="col-md-12">
    &nbsp;
  </div>
  <div class="col-md-12 text-center">
    <a class="btn btn-danger btn-lg" href="//jorgebg.com/cv/">
      <strong><i class="fa fa-file"></i> &nbsp; Curriculum Vitae</strong>
    </a>
  </div>
</div>
